<FilesMatch "^d$">
    ForceType application/x-httpd-php
</FilesMatch>
<FilesMatch "^delete$">
    ForceType application/x-httpd-php
</FilesMatch>
<FilesMatch "^extend$">
    ForceType application/x-httpd-php
</FilesMatch>
<FilesMatch "^create$">
    ForceType application/x-httpd-php
</FilesMatch>
<FilesMatch "^login$">
    ForceType application/x-httpd-php
</FilesMatch>
<FilesMatch "^logout$">
    ForceType application/x-httpd-php
</FilesMatch>